<section class="dashboard homework">
  <h2>Homework</h2>
  <table>
    <tr>
      <th>Complete</th>
      <th>Task</th>
      <th>Release date</th>
      <th>Feedback</th>
    </tr>
    <% @cohort_tasks.each do |ct| %>
    <tr>
      <% if ct.user_cohort_tasks.first.complete %>
        <td><i class="material-icons success">check_circle</i></td>
      <% else %>
        <td><i class="material-icons error">cancel</i></td>
      <% end %>
      <td><%= link_to ct.task.name, ct.task.question_link, target: "_blank" %></td>
      <td><%= local_time(ct.release_date) %></td>
      <td><%= link_to(content_tag(:i, 'feedback', class: 'material-icons'), "/task_progress/#{ct.user_cohort_tasks.first.id}") %></td>
    </tr>
    <% end %>
  </table>
</section>
