<section class="dashboard homework">
  <h2>Homework</h2>
  <table>
    <% @group_tasks.each do |gt| %>
    <tr>
      <td><%= link_to gt.task.name, gt.task.link, target: "_blank" %></td>
      <td><%= time_ago_in_words(gt.release_date) + ' ago' %></td>
      <td><%= link_to gt.user_group_tasks.first.complete.to_s, "/task_progress/#{gt.user_group_tasks.first.id}" %></td>
    </tr>
    <% end %>
  </table>
</section>
