<h2 data-gh-username="<%= current_user.github_username %>">Dashboard</h2>

<p>Recent tasks released:</p>

<table>
  <tr>
    <th>Task</th>
    <th>Released</th>
  </tr>
  <% @group_tasks.each do |gt| %>
  <tr>
    <td><%= link_to gt.task.name, gt.task.link %></td>
    <td data-datetime="<%= gt.release_date %>"></td>
  </tr>
  <% end %>
</table>
