<section class="dashboard warmups">
  <h2>Warmups</h2>
  <table>
    <tr>
      <th>Task</th>
      <th>Release date</th>
      <th>Solution</th>
    </tr>
    <% @group_tasks.each do |gt| %>
    <tr>
      <td><%= link_to gt.task.name, gt.task.question_link, target: "_blank" %></td>
      <td><%= local_time(gt.release_date) %></td>
      <td><%= link_to 'solution', gt.task.solution_link, target: "_blank" %></td>
    </tr>
    <% end %>
  </table>
</section>
