.dashboard.index, .dashboard.homework, .dashboard.warmups {
  th, td {
    padding: 0.5em 1em 0.5em 0;
    text-align: center;
  }
}

.dashboard.index {
  .github-status {
    span, .material-icons {
      display: inline-block;
      vertical-align: middle;
    }
  }
  h3 {
    padding-top: 30px;
  }
}
